.contact_me_page{
    width: 100%;
    /* height: 500px; */
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-top: 70px;
    background-color: antiquewhite;
}

.contact_me_page > h1{
    text-align: center;
}

.contact_sid_l{
    width: 49%;
    /* background-color: bisque; */
    height: 400px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 30px;
    
}
.contact_sid_r{
    width: 49%;
    /* background-color:burlywood; */
    height: 400px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 30px;
    padding-left: 30px;
}

.contact_sid_l > h1{
    padding-left: 10px;
}
.contact_sid_l > div{
    padding: 10px;
}

.contact_sid_l  p{
    font-size: 20px;
    text-align: justify;
}

.contact_sid_r > h1{
    padding-bottom: 15px;
}

.contact_form{
    padding-left: 20px;
}
.contact_form li, input{
    font-size: 20px;
}
.contact_form input, textarea{
    border-radius: 5px;
}

.contact_form button{
    font-size: medium;
    padding: 8px 30px;
    border-radius: 4px;
}
.cbtn{
    margin-right: 10px;
}
