.services_page{
    margin-top: 70px;
    width: 100%;
    /* height: 400px; */
    padding-left: 80px;
    padding-right: 80px;
    background-color:#f8f9fa;

}
.services_head{
    /* background-color: #0f68c0; */
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.whatido{
    text-align: center;
    padding: 15px 30px;
}
.whatido p{
    background-color: #eee8aa;
    display: inline;
    padding: 5px 25px;
    font-size: medium;
}
.services_head h1{
    text-align: center;
    margin-bottom: 60px;
}

.skill_container{
    /* background-color: aquamarine; */
}
.skill_box{
    width: 33%;
    height: 200px;
    display: inline-block;
    text-align: center;
    padding: 30px 40px; 
    
}
.skill_box img{
    width: 50px;
}