*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    color: rgb(3, 43, 43);
    background-color: antiquewhite;
    padding: 15px 80px;
    

}

.callum{
    display: inline-block;
    text-align: center;
    width: 25%;
    font-size:x-large;
    /* border: 1px solid black;  */
}
.number{
    display: inline-block;
    padding: 5px;

}
.right_side{
    width: 65%;
    display: inline-block;
    text-align: right;
    font-size: large;
}

.icons{
    margin: 3px;
    margin-left: 5px;
    width: 25px;
    display: inline-block;
    margin-bottom: -6px;
}

.menu_button{
    border: none;
    cursor: pointer;
    background: none;
    border: none;
    background-color: transparent;
    
}

#thambail{
    width: 100%;
    height: 600px;
    background-color: #eee8aa;
    padding: 60px 100px;
    margin-bottom: 100px;

}
.freelancer{
    font-family: Tomorrow;
    font-size:xx-large;
    font-weight:normal;
    margin-bottom: 5px;
}
.ocp{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 40px;
    margin-bottom: 5px;

}
.location{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.view_my_work_btn{
    background-color:darkslategray;
    padding: 15px 35px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size:small;
}
.view_my_work_btn:hover{
    background-color:rgb(86, 114, 114);
    transition: opacity 0.8s;
}

.work_and_contact{
    margin-top: 30px;
}
.work_and_contact img{
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.contact_me{
    background: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-left: 15px;
    font-weight: bold;
    transition: transform 0.2s ease;

}
.contact_me:hover{
    color: rgb(29, 55, 56);
}

.about_me{
    display: inline-block;
    width: 55%;
    text-align: left;
    padding-left: 70px;
    
    
}
.profile_pic{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
}
.profile_pic img{
    width: 400px;
    border: 8px solid rgb(207, 205, 205);
    box-shadow: 10px;
    height: 400px;
    border-radius: 50%;
}

.about_me, .profile_pic {
    display: inline-block;
    vertical-align: middle; }
